<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094923648190-n6pp4mtftbhrqk5fjbto2hp0rsuqtlft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094923648190-n6pp4mtftbhrqk5fjbto2hp0rsuqtlft</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1094923648190-h91k203qqkqgg3t5s5jfenii0mmfm9h6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBr14civZkac2tje0iraHNFkymvdmQPdqc</string>
	<key>GCM_SENDER_ID</key>
	<string>1094923648190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bottlehouz.customer</string>
	<key>PROJECT_ID</key>
	<string>bottlehouz</string>
	<key>STORAGE_BUCKET</key>
	<string>bottlehouz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094923648190:ios:560c9a3ec91b78a0bdf2ef</string>
</dict>
</plist>